# Because this repository lives in my home directory, ignore everything,
# and add exceptions for the dotfiles and such further below.
*

# Of course, now we need to unignore this file.
!.gitignore

# And now, the rest of this is just a whitelist for the directories and
# files that should be automatically detected for version control.

# Add ~/.profile which is used for all interactive shells
!.profile

# The main config directory
!.config/

# Alacritty
!.config/alacritty/
!.config/alacritty/alacritty.yml

# ZSH
!.zshenv
!.config/zsh/
!.config/zsh/.zshrc
!.config/zsh/scripts/
!.config/zsh/scripts/*

# Powerlevel10K
!.config/zsh/.p10k.zsh

# Neovim
!.config/nvim/
!.config/nvim/init.vim

