# Because this reposiroty lives in my home directory, ignore everything,
# and add exceptions for the dotfiles and such.
*

# Of course, now we need to unignore this file.
# We also include all .gitignore files in subdirectories for later convenience.
!**/.gitignore

# Unignore empty directories, otherwise we will get warnings on commit.
# This does not include the files within, and empty directories won't
# be picked up by git, so it won't leak private information.
!**/

# And now, the rest of this is just the directories and files that should
# be automatically detected for version control.

