# Because this repository lives in my home directory, ignore everything,
# and add exceptions for the dotfiles and such further below.
*

# Of course, now we need to unignore this file.
!.gitignore

# And now, the rest of this is just a whitelist for the directories and
# files that should be automatically detected for version control.

# Files related to ZSH
!.zshenv
!.config/zsh/.zshrc

